:root {
    --primary-color: #F48C06;
    /* Define your common color */
}

.pagelinks {
    width: 30rem;
}

.navbar .pagelinks ul li {
    width: 67px;
    height: 33px;
}

.auth div {
    border-radius: 61px;
    width: 91px;
    height: 36px;
}



.auth .login {
    box-shadow: 0px 4px 4px #c7c7c7;
}